@import url('https://fonts.googleapis.com/css?family=Roboto:100, 200, 300, 400, 500, 600, 700|Exo:100,200,300, 400, 500, 600, 700|Merriweather:100,200,300,400,500,600,700&display=swap');

/*------------------------------------------ Colours */

h1 {
    color: #fafafa;
    font-family: "Merriweather", serif;
}

h2 {
    color: rgba(255, 255, 255, .5);
    font-family: "Merriweather", serif;
}



/*------------------------------------------ Special paddings/margins/text/overlays */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


/*------------------------------------------ Navbar */

.navbar-container {
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;

}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
}

.navbar-nav {
    margin: auto;
}

.nav-link {
    color: rgb(167, 167, 167);
    font-family: "Merriweather", serif;
}

.active {
    font-weight: 200;
    color: rgb(167, 167, 167);
}

.fixedbutton {
    position: fixed;
    bottom: 15px;
    right: 35px;
    height: 4rem;
    width: 4rem;
}

/*------------------------------------------ Hover.css */

/*------------------------------------------ Footer */

/*------------------------------------------ Home Page */

.home-container {
    /*--- background-image: url("../../assets/images/carousel1.jpg") no-repeat bottom right fixed; ---*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    color: #fafafa;
    border-bottom: 1px solid;
}

.order-row {
    position: relative;
}


/*------------------------------------------ Music Videos */

.main-row {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.embed-responsive {
    width: 100%;
    display: block;
    padding-bottom: 20px;
}


.music-container {
    align-items: center;
    justify-content: center;
    background: url(../../assets/images/videos_wallpaper.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    padding: 4em 2em 0em 2em;
    color: #fafafa;
    border-bottom: 1px solid;

}

.embed-responsive-item {
    padding: 50px;
}


.frame-border {
    border: 3px solid #EEE;
}

.embed-responsive-item {
    padding: 5px 0px 5px 0px;
}

/*------------------------------------------ Albums and Songs */

.album-container {
    padding-top: 25px;
    height: auto;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/images/live_albums.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fafafa;
    border-bottom: 1px solid;

}

.album-container h1 {
    color: #ddd;
    font-family: "Exo" sans-serif;
    font-weight: 400;
    padding: 5px;
}

.albumlist {
    margin-left: auto;
    margin-right: auto;
}

.albumimg {
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 25px;
}

.albumrow {
    padding: 15px;
}

.songlist {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.songrow {
    padding-left: 25px;
}

.songrow h1 {

    margin-right: auto;
    margin-left: auto;
}

.singlesong {
    width: 100%
}

audio {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    width: 100%;
}

audio:hover,
audio:focus,
audio:active {
    -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

/*------------------------------------------ About Us */

.about-container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
    background: url(../../assets/images/brick_wallpaper.jpg);
    color: #fafafa;
    border-bottom: 1px solid;

}

.section-column {
    float: none;
    color: #ddd;
    font-family: "Exo" sans-serif;
    font-weight: 400;
}

.about-us-items {
    margin: 0px;

}

.about-title h1 {
    color: #fafafa;
}

.about-us-items h2 {
    color: #fafafa;
    text-align: center;
}

.carouselimg img {
    max-width: 100%;
    padding-top: 0px;
}


/*------------------------------------------ Scedule & Contact form */

.schedule-container {
    background-image: linear-gradient(black, white);
    color: #fafafa;
    border-bottom: 0.5px solid;
    padding-right: 0px;
    padding-left: 0px;
    border-color: black;
}

.history-items {
    background-color: white;
}

.timeline-item {
    padding: 3.5em 1em 2em 2em;
    position: relative;
    color: black;
    border-bottom: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}


/*------------------------------------------ Shop */

.shop-container {
    padding-top: 25px;
    height: auto;
    background-image: linear-gradient(#181818, #484848);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fafafa;
    border-bottom: 1px solid;

}

.carouselshop img {
    margin: auto;
}

.price {
    color: #fafafa;
    text-decoration: none;
}



/*------------------------------------------ /Shop */

/*------------------------------------------ Social Media */

.social-media {
    padding-top: 25px;
    height: auto;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(71, 71, 71));
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: #fafafa;
    border-bottom: 1px solid;
}

.social-header {
    color: #343a40;
}

/*------------------------------------------ Book.html specific CSS  */

.carouselrow {
    display: block;
}

/*------------------------------------------ Media Queries */

@media(min-width: 360px) {
    .about-title h1 {
        margin-bottom: 25px;
    }
}

@media(min-width: 500px) {
    .carouselimg img {
        padding-right: 0px;
       
    }
    .songrow h1 {
        padding: 30px;
    }
    .album-container h1 {
        color: #ddd;
        font-family: "Exo" sans-serif;
        font-weight: 400;
        padding: 30px;
    }
    .history-items {
        margin: 50px;
        background-color: white;
    }
    .about-us-items {
        margin: 50px;
    }
    .about-title h1 {
        margin-bottom: 0px;
    }
    .schedule-book {
        float: right!important;
    }

}



@media(min-width: 750px) {

    .smallvideo {
        margin-top: 15px;
    }



}



@media(min-width: 992px) {

    .shopitem {
        padding: 15px;
    }
    .smallvideo {
        max-width: 80%;
        margin-top: 15px;
    }

    .videoright {
        right: 15px;
    }
    .videoleft {
        left: 15px;
    }
    .carouselimg img {
        padding-right: 0px;
    }
    

}


@media(min-width: 1200px) {
    .carouselimg img {
        padding-right: 50px;
        padding-top: 200px;
    }
}


@media(min-width: 1500px) {
    .albumimg {
        padding: 0px;
    }

    .songrow {
        height: 100%;
        width: auto;
        padding-bottom: 50px;
    }

    .carouselimg img {
        padding-right: 100px;
        padding-top: 100px;
    }
}

@media(min-width: 1700px) {
    .shopitem {
        padding: 35px;
    }
    .carouselimg img {
        padding-right: 100px;
    }
}
