@import url('https://fonts.googleapis.com/css?family=Roboto:100, 200, 300, 400, 500, 600, 700|Exo:100,200,300, 400, 500, 600, 700|Merriweather:100,200,300,400,500,600,700&display=swap');

/*------------------------------------------ Colours */

/*------------------------------------------ Special paddings/margins/text/overlays */

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*------------------------------------------ Navbar */

.navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;

}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
}

.nav-link {
    color: rgb(167, 167, 167);
    font-family: "Merriweather", serif;
}

.active {
    font-weight: 200;
    color: rgb(167, 167, 167);
}

/*------------------------------------------ Hover.css */

/*------------------------------------------ Footer */

/*------------------------------------------ Home Page */

.home-container {
    height: 100vh;

    background: url(/assets/images/acdc_cover.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.order-row {
    position: relative;
}


/*------------------------------------------ Music Videos */

.music-container {
    align-items: center;
    justify-content: center;
    background: url(/assets/images/videos_wallpaper.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.mainvideocontainer {
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    height: 840px;
    width: auto;
}

.largevideo {}

.smallvideocontainer {
    align-items: center;
    justify-content: center;
    padding: 75px;
}

.smallvideo {
    padding: 50px;
}

/*------------------------------------------ Albums and Songs */

.album-container {
    padding-top: 25px;
    height: auto;
    background: url(/assets/images/live_albums.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.album-container h1 {
    color: #ddd;
    font-family: "Exo" sans-serif;
    font-weight: 400;
}

.albumlist {
    height: 800px;
}

.albumimg {
    padding: 15px;
}

.albumrow {
    padding: 50px;
}

.songlist {}

.songrow {
    padding-left: 50px;
}

.songrow h1 {
    height: 0px;
}

.singlesong {}

/*------------------------------------------ About Us */

.about-container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
    background: url(/assets/images/brick_wallpaper.jpg);
    
}


.about-row {
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
    color: #ddd;
    font-family: "Exo" sans-serif;
    font-weight: 400;
}

.about-us-items {
    margin: 50px;
}

.about-beginnings {}

.about-breakthrough {}

.about-current {}

.carouselimg img {
    max-width: 100%;
}


/*------------------------------------------ Scedule & Contact form */

.schedule-container {}

/*------------------------------------------ Social Media */

.social-container {}

/*------------------------------------------ Media Queries */

/*------------------------------------------ Buttons  */

.btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40/* Doesn't work, not sure why I wasn't able to overide the bootstrap inherit properties for font color.*/
}

.btn--cta {
    /*Call to action button*/
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
}
